WindowsFormsApp_TIC/.vs/WindowsFormsApp_TIC/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
WindowsFormsApp_TIC/.vs/WindowsFormsApp_TIC/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
WindowsFormsApp_TIC/.vs
WindowsFormsApp_TIC/WinFormsWithDB/obj
